
@import "public_classes";

@import "first_section";
@import "section";
@import "footer";
@import "animations";
@import "responsive" ;
*{
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;

  }
  li{
    list-style: none;
  }
font-family:IRANSans;
}
